@keyframes blink {
	0% { background-color: red; }
	100% { background-color: white; }
}
@-webkit-keyframes blink {
	0% { background-color: red; }
	100% { background-color: white; }
}

@-webkit-keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
	text-align: center;
}

.pageTitle {
	font-size: 24px;
	margin: 55px auto 40px auto;
}

.hidden { visibility: hidden; }

.list {
	display: flex;
	justify-content: center;
}

.contentWrapper { margin: 55px auto; }

.howToUseWrapper { margin: 65px auto; }

.alertNotification {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	-webkit-animation: blink 1s linear infinite;
	-moz-animation: blink 1s linear infinite;
	animation: blink 1s linear infinite;
}

.radarLoader {
  overflow: hidden;
  font-size: 10px;
  margin: auto;
  text-indent: -9999em;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background: #FFF;
  background: linear-gradient(to right, #FFF 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  animation: load 1.4s infinite linear;
  transform: translateZ(0);
}

.radarLoader:before {
	width: 50%;
	height: 50%;
	background: #FFF;
	border-radius: 100% 0 0 0;
	position: absolute;
	top: 0;
	left: 0;
	content: '';
}

.radarLoader:after {
	background: #0dc5c1;
	width: 75%;
	height: 75%;
	border-radius: 50%;
	content: '';
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0.5;
}

.ant-layout-content {
	min-height: calc(100vh - 185px);
}

.ant-layout-content h3 {
	margin-top: 20px;
	margin-bottom: 55px;
}

.ant-layout-footer {
	color: #fff;
	background: rgb(0 21 41);
	clear: both;
	position: relative;
	width: 100%;
	padding: 22.5px 50px;
}

.ant-layout-footer p { margin: 0 }

.ant-btn-link {
	padding: 0;
	max-height: 20px;
}

.loader {
	display: flex;
	margin: auto;
	align-items: center;
	justify-content: center;
}

.languageSelector {
	position: absolute;
	top: -5px;
	right: 30px;
}

.languageBtn {
	padding: 5px;
	color: #fff;
	max-height: 40px;
	border: none;
	cursor: pointer;
	background-color: transparent;
}

.languageBtn[disabled] {
	cursor: not-allowed;
	color: rgb(255 255 255 / 25%);
}

.gitHubLink {
	position: absolute;
	right: 35px;
	top: 35px;
}

.gitHubLink  svg {
	fill: #fff;
	width: 25px;
	height: 25px;
}